<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="openocd_plugin_backend_win32Dialog">
		<title>openocd__backend</title>
		<centered>1</centered>
		<pos>-1,-1</pos>
		<size>556,422</size>
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
			<label>接口</label>
			<pos>8,8</pos>
			<size>152,48</size>
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX1" variable="interface1" member="yes">
			<pos>16,24</pos>
			<size>136,22</size>
			<style>wxCB_READONLY</style>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
			<label>目标</label>
			<pos>168,8</pos>
			<size>144,48</size>
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX2" variable="target1" member="yes">
			<pos>176,24</pos>
			<size>128,22</size>
			<style>wxCB_READONLY</style>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX3" variable="StaticBox3" member="yes">
			<label>传输类型</label>
			<pos>8,64</pos>
			<size>152,56</size>
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX3" variable="transport1" member="yes">
			<pos>16,80</pos>
			<size>136,22</size>
			<style>wxCB_READONLY</style>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX4" variable="StaticBox4" member="yes">
			<label>GDB连接端口</label>
			<pos>168,64</pos>
			<size>144,56</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<value>55555</value>
			<pos>176,80</pos>
			<size>128,24</size>
			<style>wxTE_CENTRE</style>
			<handler function="OnTextCtrl1TextEnter" entry="EVT_TEXT" />
			<handler function="OnTextCtrl1TextEnter" entry="EVT_TEXT_ENTER" />
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="log2" member="yes">
			<pos>0,192</pos>
			<size>552,224</size>
			<style>wxTE_MULTILINE|wxTE_READONLY|wxVSCROLL|wxHSCROLL</style>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX5" variable="StaticBox5" member="yes">
			<label>日志框选项</label>
			<pos>328,16</pos>
			<size>224,104</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>清理间隔时间:</label>
			<pos>344,40</pos>
			<size>80,24</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>日志缓冲大小:</label>
			<pos>344,80</pos>
			<size>80,16</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrl2" member="yes">
			<value>3000</value>
			<pos>424,40</pos>
			<size>72,22</size>
			<handler function="OnTextCtrl2Text" entry="EVT_TEXT" />
			<handler function="OnTextCtrl2Text" entry="EVT_TEXT_ENTER" />
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="TextCtrl3" member="yes">
			<value>300000</value>
			<pos>424,80</pos>
			<size>72,22</size>
			<handler function="OnTextCtrl3Text" entry="EVT_TEXT" />
			<handler function="OnTextCtrl3Text" entry="EVT_TEXT_ENTER" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>毫秒</label>
			<pos>504,40</pos>
			<size>40,24</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>字节</label>
			<pos>504,80</pos>
			<size>32,24</size>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX6" variable="StaticBox6" member="yes">
			<label>操作</label>
			<pos>8,128</pos>
			<size>536,56</size>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>启动</label>
			<pos>48,144</pos>
			<size>80,32</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
			<label>停止</label>
			<pos>144,144</pos>
			<size>72,32</size>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox1" member="yes">
			<label>启动失败自动重启</label>
			<pos>240,144</pos>
			<size>128,32</size>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBox2" member="yes">
			<label>自动启动</label>
			<checked>1</checked>
			<pos>384,144</pos>
			<size>72,32</size>
			<handler function="OnCheckBox2Click" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>5</label>
			<pos>456,152</pos>
			<size>48,16</size>
			<style>wxST_NO_AUTORESIZE|wxALIGN_LEFT</style>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="Timer1" member="yes">
			<interval>1000</interval>
			<extra_code>Timer1.Start();</extra_code>
			<handler function="OnTimer1Trigger" entry="EVT_TIMER" />
		</object>
		<object class="wxTimer" name="ID_TIMER2" variable="Timer2" member="yes">
			<interval>20</interval>
			<handler function="OnTimer2Trigger" entry="EVT_TIMER" />
		</object>
		<object class="wxTimer" name="ID_TIMER3" variable="Timer3" member="yes">
			<interval>3000</interval>
			<extra_code>Timer3.Start();</extra_code>
			<handler function="OnTimer3Trigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
