//---------------------------------------------------------------------------
//
// Name:        STM32_Data_ProgramerApp.rc
// Author:      ºÎÑÇºì
// Created:     2019-11-18 13:18:05
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
MIAN ICON "icon.ico"

1 24 "UAC.manifest" 
